/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
 line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

/*
CSS for HTML page
*/

span#paragraphs p {
  font-family: Courier, Monospace;
  font-size: 1em;
  color: #fff;
  margin: 10px;
  margin-top: 20px;
  text-indent: 40px;
  line-height: 1.5em;
  cursor: default;
}
span#paragraphs p:first-of-type {
  margin-top: 40px;
}
span#paragraphs p.centered {
  text-align: center;
}
span#paragraphs p span.bold {
  font-weight: bold;
}
span#paragraphs p span.greenOption {
  font-weight: bold;
  color: limeGreen;
  text-transform: uppercase;
  cursor: pointer;
}
span#paragraphs p span.violetOption, span#paragraphs p span.purpleOption {
  font-weight: bold;
  color: violet;
  text-transform: uppercase;
  cursor: pointer;
}
span#paragraphs p span.yellowOption {
  font-weight: bold;
  color: yellow;
  text-transform: uppercase;
  cursor: pointer;
}
span#paragraphs p span.blueOption {
  font-weight: bold;
  color: blue;
  text-transform: uppercase;
  cursor: pointer;
}
span#paragraphs p span.redOption {
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  cursor: pointer;
}
span#paragraphs p span.italic {
  text-decoration: italic;
}
span#paragraphs p span.underlined {
  text-decoration: underline;
}
::selection {
  background: #fff;
  color: #000;
}
body {
  background-color: #000;
  padding: 0px;
}
input#gameCommandInput {
  margin: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  font-family: Courier, Monospace;
  color: #fff;
  width: 250px;
  text-transform: uppercase;
}
#gameContent {
  overflow-y: scroll;
}
table {
  background: #fff;
  font-family: Courier, Monospace;
  width: 100%;
  margin: 0px;
  height: 1.4em;
}
td {
  margin: auto;
  text-align: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
canvas#visualInterface {
  width: 50%;
  height: 30%;
  margin: auto;
  margin-top: 0px;
}
