body {
  background-color: #fff;
}

* {
  font-family: georgia, serif;
  font-size: 1.2em;
  color: #222;
}

h1 {
  font-style: italic;
}

.gameOption {
  font-weight: bold;
  color: #a22;
  cursor: pointer;
}

input#gameCommandInput {
  background: rgba(38, 38, 38, 0.2);
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2em;
  font-family: georgia, serif;
}
