body {
  background-color: #fff;
  margin-left: 40px;
}

* {
  font-family: georgia, serif;
  color: #222;
}

h1 {
  font-style: italic;
  font-weight: normal;
}

p {
  font-size: 1em;
}

.gameOption {
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

input#gameCommandInput {
  background: rgba(76, 76, 76, 0.1);
  border: 0px;
  border-radius: 6px;
  padding: 6px;
  font-size: 12px;
  font-family: georgia, serif;
  color: #222;
  box-shadow: 1px 1px 3px #222 inset;
}
