body {
  background-color: #fff;
}

* {
  font-family: georgia, serif;
  font-size: 1em;
  color: #222;
}

h1 {
  font-style: italic;
}

.gameOption {
  font-weight: bold;
  color: #222;
  cursor: pointer;
}

input#gameCommandInput {
  background: rgba(76, 76, 76, 0.1);
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  font-family: georgia, serif;
  color: #222;
  box-shadow: 0 0 -2px #222;
}
